* {
  font-family: sans-serif;
}
td, th {
  padding: 0.5rem;
  border: 1px solid #ccc;
}
tbody > tr > td {
  text-align: center;
}
tbody > tr > td:nth-child(3) {
  text-align: left;
  padding: 0 40px;
}
thead, tfoot {
  text-align: center;
}
.average {
  color: #858484;
  font-size: 1.4rem;
}